@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>FoodApp is a partner of the FoodCompany Private Company LTD. Establisted on 2024, FoodApp is commited to provide quality food deliver service with proper delivery solution for our consumers and partners.</h3>
</main>