<main aria-labelledby="title">
    <h2 id="title">About Us</h2>
    <h3>Contact with us at the following location or through our phone number / email!</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        +8801234567890
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@foodapp.com">Support@foodapp.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@foodapp.com">Marketing@foodapp.com</a>
    </address>
</main>